* {
margin: 0;
box-sizing: border-box;
}

.background{
    background-color: rgba(255, 255, 0, 0.363);
}


.spacing{
    text-align:center;
    position: relative;
    line-height: 150px;
}


.banner-strip {
    background-color: #f0f0f0; 
    /* padding: 400px 20px; */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.banner-heading{
    position: absolute;
    text-align: center;
    top: 20px; 
    left: 20px;
    width: 250px;
    padding: 10px; 
}

.banner-pg-placement{
    position: absolute;
    text-align: center;
    top: 80px; 
    left: 20px;
    width: 250px;
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px; 
}


.vertical-hr {
    transform: rotate(90deg);
    width: 450px; 
    height: 2px; 
    background-color: black; 
    border: none; 
    margin: 200px auto; 
    margin-left: 2%;
}

.hr {
    width: 800px; 
    height: 2px; 
    background-color: black; 
    border: none; 
    margin: -430px auto; 
}



.font{
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
}

.img{
    height: 20%;
    margin-left: 20%;
    border:1px;
}

.h1{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.table{
    width: 100%;
}
.td{
    width: 33%;
}

.img2{
    height: 60%;
    margin-left: 25%;
    border-radius: 10%;
    
}


.head-spacing1{
    height: 60px;
    top: 500%;
    margin: -400px;
    margin-right: -550px;
}

.head-spacing2{
    height: 60px;
    top: 500%;
    margin: -400px;
    margin-left: -500px;
}

.rd-spacing{
    height: 60px;
    top: 500%;
    margin: -300px;
    margin-left: -100px;
}

.size{
    font-size: 20px;
}

.where{
    height: 60px;
    top: 500%;
    margin: -200px;
    margin-left: -100px;
}

.board{
    border: #060606;
    border-radius: 1px;
    border-style: dashed;
}

.a-spacing{
    height: 60px;
    top: 500%;
    margin: -200px;
    margin-left: -300px;
    padding-top: 10%;
    margin-top: -50%;
}

.form{
    margin-top: -60%;
}


.txtbox{
    width: 60%;
    padding: 1.5%;
    height: 30px;
    border: 1#060606;
    border-radius: 15px;
    margin-left:-10px;
    text-align: center;
}

.label{
    width: 40%;
    padding: 2.5%;
    height: 15px;
    border: 1#060606;
    border-radius: 15px;
    margin-left:-40px;
}

.label2{
    width: 40%;
    padding: 4.5%;
    height: 15px;
    border: 1#060606;
    border-radius: 15px;
    margin-left:-40px;
}


.spacing{
    width: 60%;
    padding: 1.5%;
    height: 30px;
    border: 1#060606;
    border-radius: 15px;
    margin-left:-10px;
    text-align: center;
}

.sub-bttn{
    width: 30%;
    padding: 1.5%;
    height: 30px;
    border: 1#060606;
    border-radius: 15px;
    margin-left:40px;
    text-align: center;
}


.tbl-spc{
    padding: 2%;
    font-size: 50px;
}

.img3{
    height: 15%;
    margin-left: 50%;
    margin-bottom: -130%;
    border:1px;
    border-style: groove;
}


.leader-table{
    width: 10%;
    border-style: groove;
    margin-left: 40%;
    width: 80%;
    height: 120px;
    border-collapse: collapse;
    border: 2px solid black;
    margin-top: 160%;
}

.bor{
    border: 1px solid #000000;
    text-align: center;
}

.b-spacing{
    margin-right: -150px;
    padding-top: 10%;
    margin-top: -50%;
}


.pg-style{
    font-size: 18px;
    text-align: center;
    margin-right: -150px;
    padding: 10%;
}

.ban{
    padding-bottom: 50%;
}

.font-type{
    font-family: 'Courier New';
}


.ad-bor{
    border: 1px solid#000000;
    border-style: dashed;
    border-collapse: collapse;
    border: 2px solid black;
    width: 200%;
}